@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color:white;
    font-size: 18px;
    font-weight: normal;
	font-family: 'Roboto', sans-serif;
    color: blueviolet;
}

.ml{
    margin:auto;
    width: 52%;
}
.prt{
    width: 512px;
}
.m1{
    margin:auto;
    width: 40%;
}
.m2{
    list-style:disc;
    min-width: 5000px;
}
.m2 li{
    margin: 12px;
}
.m2 a:link{
    text-decoration: none;
    color:black;
    font-weight:700;
}
.m2 a:hover{
    color: rgb(43, 144, 226);
    font-size: 49px;
    font-weight: 3000px;
}